body {
    background-color: rgb(159, 195, 250);
}

p {
    border-radius: 2px;
    color: #333;
}

header {
    font-family: 'Lobster Two', cursive;
    padding: 15px;
    background-color: white;
    color: purple;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 200;
    text-align: center;
    font-size: 2.5em;
}
h2 { 
    font-size: 24px; 
}



#imagen-datos {
    display: block;
    width: 300px;
    height: 150px;
    border: 2px solid #ddd; 
    border-radius: 5px;  
    margin: 10px auto;  
}

ul {
    list-style-type: none;
    position: relative;
    margin: 0 auto;
}

.titulos-disponibles {
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px black;
}

#titulos-disponibles-resaltar:hover{
    transform: scale(1.1);
}



footer {
    background-color: rgb(178, 207, 250);
    text-align: center;
    padding: 10px; /* Add some padding for content */
}

#iniciar-sesion {
    background-color: #d7d8da;
    padding: 20px;
    border-radius: 8px;
}

#iniciar-sesion h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #iniciar-sesion form {
    width: 300px;
    margin: 0 auto;
  }

  #iniciar-sesion label {
    display: block;
    margin-bottom: 5px;
  }

  #iniciar-sesion input[type="text"],
#iniciar-sesion input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#iniciar-sesion button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

form {
    width: 500px;
    margin: 0 auto;
}

form h1 { 
    text-align: center;
}

label, button, input {
    display: block;
    margin: 5px;
    padding: 5px;
    width: 25%;
    margin-right: 10px;
}

button {
    background-color: #434b53;
    cursor: pointer;
}

